<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <textarea name="" id="stk-content" cols="30" rows="10"></textarea>
  <br>
  <button id="stk1">Connact Socket</button>
  <button id="stk2">Read File Content</button>
  <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
  <script src="/js/skt/socket.io.js"></script>
  <script src="/js/test.js"></script>
</body>

</html>